#!/bin/bash # запуск системного shell

expration_DATE=$(date -d "{{date_shift}}" +%s) # обозначение переменной - текущая дата в секундах, данные берутся из переменной date_shift (defaults.main)
search_dir={{search_dir}} # обозначение переменной - значением будет /opt/backups (данные берутся из defaults.main)

for entry in "$search_dir"/* # указывается цикл для переменной entry с каждым значением/файлом в данном случае доступным в каталоге file_date - присваиваются файлы с датой, и функцией:  
do
  file_date=$(echo "$entry" | sed '{{sed_regex}}') # присвоить значение переменной file_date - значением будет имя файла с датой разделенное дефисами _ -.
  test=$(date -d "$file_date" +%s) # присвоить значение переменной test - значением будет являтся информация о дате создания файла в секундах

  if [ $expration_DATE -ge $test ]; # оператор условия - если актуальная дата, за вычетом 5 дней, будет раньше либо равна дате созданного файла
  then в этом случае файл
      mv "$entry" {{target_dir}} # будет скопирован в каталог /opt/cifs/Backup
  fi

done
